@import "tailwindcss";

@theme inline {
	--color-text-50: var(--theme-color-text-50);
	--color-text-100: var(--theme-color-text-100);
	--color-text-200: var(--theme-color-text-200);
	--color-text-300: var(--theme-color-text-300);
	--color-text-400: var(--theme-color-text-400);
	--color-text-500: var(--theme-color-text-500);
	--color-text-600: var(--theme-color-text-600);
	--color-text-700: var(--theme-color-text-700);
	--color-text-800: var(--theme-color-text-800);
	--color-text-900: var(--theme-color-text-900);
	--color-text-950: var(--theme-color-text-950);

	--color-background-50: var(--theme-color-background-50);
	--color-background-100: var(--theme-color-background-100);
	--color-background-200: var(--theme-color-background-200);
	--color-background-300: var(--theme-color-background-300);
	--color-background-400: var(--theme-color-background-400);
	--color-background-500: var(--theme-color-background-500);
	--color-background-600: var(--theme-color-background-600);
	--color-background-700: var(--theme-color-background-700);
	--color-background-800: var(--theme-color-background-800);
	--color-background-900: var(--theme-color-background-900);
	--color-background-950: var(--theme-color-background-950);

	--color-primary-50: var(--theme-color-primary-50);
	--color-primary-100: var(--theme-color-primary-100);
	--color-primary-200: var(--theme-color-primary-200);
	--color-primary-300: var(--theme-color-primary-300);
	--color-primary-400: var(--theme-color-primary-400);
	--color-primary-500: var(--theme-color-primary-500);
	--color-primary-600: var(--theme-color-primary-600);
	--color-primary-700: var(--theme-color-primary-700);
	--color-primary-800: var(--theme-color-primary-800);
	--color-primary-900: var(--theme-color-primary-900);
	--color-primary-950: var(--theme-color-primary-950);

	--color-secondary-50: var(--theme-color-secondary-50);
	--color-secondary-100: var(--theme-color-secondary-100);
	--color-secondary-200: var(--theme-color-secondary-200);
	--color-secondary-300: var(--theme-color-secondary-300);
	--color-secondary-400: var(--theme-color-secondary-400);
	--color-secondary-500: var(--theme-color-secondary-500);
	--color-secondary-600: var(--theme-color-secondary-600);
	--color-secondary-700: var(--theme-color-secondary-700);
	--color-secondary-800: var(--theme-color-secondary-800);
	--color-secondary-900: var(--theme-color-secondary-900);
	--color-secondary-950: var(--theme-color-secondary-950);

	--color-accent-50: var(--theme-color-accent-50);
	--color-accent-100: var(--theme-color-accent-100);
	--color-accent-200: var(--theme-color-accent-200);
	--color-accent-300: var(--theme-color-accent-300);
	--color-accent-400: var(--theme-color-accent-400);
	--color-accent-500: var(--theme-color-accent-500);
	--color-accent-600: var(--theme-color-accent-600);
	--color-accent-700: var(--theme-color-accent-700);
	--color-accent-800: var(--theme-color-accent-800);
	--color-accent-900: var(--theme-color-accent-900);
	--color-accent-950: var(--theme-color-accent-950);
}

@layer base {
	:root {
		--theme-color-text-50: #e9e8fc;
		--theme-color-text-100: #d2d1fa;
		--theme-color-text-200: #a6a3f5;
		--theme-color-text-300: #7975f0;
		--theme-color-text-400: #4d47eb;
		--theme-color-text-500: #2019e6;
		--theme-color-text-600: #1a14b8;
		--theme-color-text-700: #130f8a;
		--theme-color-text-800: #0d0a5c;
		--theme-color-text-900: #06052e;
		--theme-color-text-950: #030317;

		--theme-color-background-50: #eae8fd;
		--theme-color-background-100: #d5d0fb;
		--theme-color-background-200: #aaa2f6;
		--theme-color-background-300: #8073f2;
		--theme-color-background-400: #5544ee;
		--theme-color-background-500: #2b16e9;
		--theme-color-background-600: #2211bb;
		--theme-color-background-700: #1a0d8c;
		--theme-color-background-800: #11095d;
		--theme-color-background-900: #09042f;
		--theme-color-background-950: #040217;

		--theme-color-primary-50: #eceafa;
		--theme-color-primary-100: #d8d5f6;
		--theme-color-primary-200: #b1acec;
		--theme-color-primary-300: #8a82e3;
		--theme-color-primary-400: #6359d9;
		--theme-color-primary-500: #3d2fd0;
		--theme-color-primary-600: #3026a6;
		--theme-color-primary-700: #241c7d;
		--theme-color-primary-800: #181353;
		--theme-color-primary-900: #0c092a;
		--theme-color-primary-950: #060515;

		--theme-color-secondary-50: #edecf8;
		--theme-color-secondary-100: #dbdaf1;
		--theme-color-secondary-200: #b6b5e3;
		--theme-color-secondary-300: #928fd6;
		--theme-color-secondary-400: #6d6ac8;
		--theme-color-secondary-500: #4945ba;
		--theme-color-secondary-600: #3a3795;
		--theme-color-secondary-700: #2c2970;
		--theme-color-secondary-800: #1d1c4a;
		--theme-color-secondary-900: #0f0e25;
		--theme-color-secondary-950: #070713;

		--theme-color-accent-50: #fde8ed;
		--theme-color-accent-100: #fad1db;
		--theme-color-accent-200: #f6a2b7;
		--theme-color-accent-300: #f17493;
		--theme-color-accent-400: #ed456f;
		--theme-color-accent-500: #e8174b;
		--theme-color-accent-600: #ba123c;
		--theme-color-accent-700: #8b0e2d;
		--theme-color-accent-800: #5d091e;
		--theme-color-accent-900: #2e050f;
		--theme-color-accent-950: #170208;
	}

	[data-theme="dark"] {
		--theme-color-text-50: #030317;
		--theme-color-text-100: #06052e;
		--theme-color-text-200: #0d0a5c;
		--theme-color-text-300: #130f8a;
		--theme-color-text-400: #1a14b8;
		--theme-color-text-500: #2019e6;
		--theme-color-text-600: #4d47eb;
		--theme-color-text-700: #7975f0;
		--theme-color-text-800: #a6a3f5;
		--theme-color-text-900: #d2d1fa;
		--theme-color-text-950: #e9e8fc;

		--theme-color-background-50: #040217;
		--theme-color-background-100: #09042f;
		--theme-color-background-200: #11095d;
		--theme-color-background-300: #1a0d8c;
		--theme-color-background-400: #2211bb;
		--theme-color-background-500: #2b16e9;
		--theme-color-background-600: #5544ee;
		--theme-color-background-700: #8073f2;
		--theme-color-background-800: #aaa2f6;
		--theme-color-background-900: #d5d0fb;
		--theme-color-background-950: #eae8fd;

		--theme-color-primary-50: #060515;
		--theme-color-primary-100: #0c092a;
		--theme-color-primary-200: #181353;
		--theme-color-primary-300: #241c7d;
		--theme-color-primary-400: #3026a6;
		--theme-color-primary-500: #3d2fd0;
		--theme-color-primary-600: #6359d9;
		--theme-color-primary-700: #8a82e3;
		--theme-color-primary-800: #b1acec;
		--theme-color-primary-900: #d8d5f6;
		--theme-color-primary-950: #eceafa;

		--theme-color-secondary-50: #070713;
		--theme-color-secondary-100: #0f0e25;
		--theme-color-secondary-200: #1d1c4a;
		--theme-color-secondary-300: #2c2970;
		--theme-color-secondary-400: #3a3795;
		--theme-color-secondary-500: #4945ba;
		--theme-color-secondary-600: #6d6ac8;
		--theme-color-secondary-700: #928fd6;
		--theme-color-secondary-800: #b6b5e3;
		--theme-color-secondary-900: #dbdaf1;
		--theme-color-secondary-950: #edecf8;

		--theme-color-accent-50: #170208;
		--theme-color-accent-100: #2e050f;
		--theme-color-accent-200: #5d091e;
		--theme-color-accent-300: #8b0e2d;
		--theme-color-accent-400: #ba123c;
		--theme-color-accent-500: #e8174b;
		--theme-color-accent-600: #ed456f;
		--theme-color-accent-700: #f17493;
		--theme-color-accent-800: #f6a2b7;
		--theme-color-accent-900: #fad1db;
		--theme-color-accent-950: #fde8ed;
	}

	div & header & a & svg {
		transition:
			color 0.1s ease-in-out,
			background-color 0.1s ease-in-out,
			border-color 0.1s ease-in-out,
			fill 0.1s ease-in-out,
			stroke 0.1s ease-in-out;
	}

	@keyframes moving-border {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
